body{
    background-color: rgb(69, 47, 90);
}
.back a button:hover{
    background: brown;
    color: whitesmoke;
}
.galance{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 146, 96);
    font-style: italic;
    font-size: 50px;
}
.academic{
    text-decoration: none;
    text-align: center;
    color: ivory;
}
.details{
    text-decoration: none;
    color: rgb(8, 243, 0);
    text-align: start;
}
.degree{
    text-decoration: none;
    text-align: center;
    color: rgb(18, 252, 10);
}
.staf{
    text-decoration: none;
    text-align: center;
    color: ivory;
}
.engineering{
    text-decoration: none;
    text-align: center;
    color: rgb(18, 252, 10);
    font-size: 25px;
}
.AST{
    text-decoration: none;
    text-align: left;
    color: rgb(215, 235, 214);
    font-size: 25px;
}
.HS{
    text-decoration: none;
    text-align: center;
    color: rgb(215, 235, 214);
    font-size: 25px;
}
.science{
    text-decoration: none;
    text-align: center;
    color: rgb(18, 252, 10);
}
.ASS{
    text-decoration: none;
    text-align: center;
    color: rgb(251, 255, 250);
}
.BS{
    text-decoration: none;
    text-align: center;
    color: rgb(57, 255, 7);
}
.institute{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}
.lab{
    text-decoration: none;
    text-align: center;
    color: rgb(51, 255, 0);
}
.office{
    text-decoration: none;
    color: rgb(251, 255, 250);
}
.cell{
    text-decoration: none;
    text-align: center;
    color: rgb(51, 255, 0);
}
.hall{
    text-decoration: none;
    text-align: center;
    color: rgb(51, 255, 0);
}
.thanks{
    color: rgb(177, 169, 166);
    font-size: 35px;
    text-align: center;
}
footer{
    background: rgb(221, 165, 60);
    text-align: center;
    width: 105%;
    height: 65px;
  }
  p#footer-text{
    text-shadow: 2px;
    line-height: 4;
    color: rgb(159, 255, 231);
  }
  p#campus{
    text-align: center;
    line-height: 4;
    color: rgb(93, 240, 227);
    font-size: 25px;
}