body{
    background-color: rgb(132, 96, 153);
}
.back a button:hover{
    background: brown;
    color: whitesmoke;
}
.photo{
    text-align: center;
    text-decoration: none;
    color: rgb(242, 243, 231);
    font-size: 20px;
}
.cse{
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    color: lightcyan;
}
.thanks{
    color: rgb(247, 229, 223);
    font-size: 35px;
    text-align: center;
}
footer{
    margin-top: 15%;
    text-align: center;
    background: rgb(221, 165, 60);
    width: 105%;
    height: 65px;
  }
  p#footer-text{
    text-shadow: 2px;
    line-height: 4;
    color: rgb(159, 255, 231);
  }
  p#campus{
    text-align: center;
    line-height: 4;
    color: rgb(93, 240, 227);
    font-size: 25px;
}